[2018-09-12 15:53] gaje opened #1 "Cannot find module 'webpack-dev-server/client/index'"
Doesnt seem to work if you dont have webpack-dev-server installed. Dies on `Cannot find module 'webpack-dev-server/client/index'`

Also docs/example feel incomplete. Example code in README shows `pluginFactory` but that is never referenced. Would it be possible to update this with a full working example config?

[2018-09-24 13:24] beshanoe commented on #1
Confirm the same bug. I don't use webpack-dev-server so I would make this dependency optional.
The same goes for HtmlWebpackPlugin, I don't use it, and though it's in deps list, example doesn't say that it's mandatory to put in `plugins` list

[2018-09-24 21:55] DanielSchaffer commented on #1
@gaje @beshanoe

Hi folks, thanks for the reports. My apologies for the delay - for some reason I had notifications turned off for this repository, so I only just saw it now.

I've got a fix coming shortly for the `Cannot find module` issue, and I'll also review the docs. The architecture for the plugin changed significantly a couple months ago, and it's entirely likely I missed some bits in there

[2018-09-24 21:56] DanielSchaffer opened #2 "Update documentation for v1.0.0"
Documentation is incomplete/out of date (as reported in #1)

[2018-09-24 23:00] #1 closed

[2018-09-24 23:00] #2 closed

[2018-09-24 23:15] DanielSchaffer commented on #1
@gaje @beshanoe

Should be good to go now - give it a shot with `v1.0.0-alpha.4`.

The documentation wasn't actually too badly out of date, there was just that one `const pluginFactory` left over from the old code that wasn't actually doing anything. Basically, the minimum you need to do is add the plugin, add `es2015` to your `mainFields`, and then replace anywhere you use `'babel-loader'` with `

[2018-09-25 14:34] gaje commented on #1
@DanielSchaffer Thanks!

One call out I have is that by default, just importing the plugin doesnt work:
`const BabelMultiTargetPlugin = require('webpack-babel-multi-target-plugin')`

as this will die with `BabelMultiTargetPlugin is not a constructor`, so you have to import it like:

`const BabelMultiTargetPlugin = require('webpack-babel-multi-target-plugin').BabelMultiTargetPlugin;`

May want to a

[2018-09-25 15:35] DanielSchaffer commented on #1
@gaje Thanks, I'll make sure the examples include the correct import notation.

As far as polyfills - for any of those, my understanding is that with `@babel/preset-env` and the `useBuiltIns: 'usage'` setting, you don't need to explicitly include any polyfills - it'll pull them in as needed. Are you missing any of these things in your output?

If you _are_ missing things, you should be able to cus

[2018-09-25 18:23] gaje opened #3 "ignores externals"
If you have any modules defined in webpack.config as `externals`, for some reason the inclusion of this plugin is causing webpack to try bundle them. I tried adding the same references in my `externals` to both the `exclude` array and also the `doNotTarget` array to see if they would be ignored, but webpack is dying on trying to import these even though they are defined as externals.

If i remove

[2018-09-25 20:49] DanielSchaffer commented on #3
I was able to reproduce the issue with externals - the reason is that in order to do what it does, the plugin actually changes the full path of the request of each module - so, for example, an `import * as $ from 'jquery'` effectively becomes `import * as $ from 'jquery?babel-target=legacy'` and  `import * as $ from 'jquery?babel-target=modern'`. Once that happens, the key you have in your externa

[2018-09-25 21:27] #3 closed

[2018-09-25 21:32] DanielSchaffer commented on #3
This should be fixed in [v1.0.0-alpha.6](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v1.0.0-alpha.6) with the caveat that it can't currently support [externals defined as a function](https://webpack.js.org/configuration/externals/#function) due to the way the webpack hooks are set up. The part that does the check currently runs as part of a synchronous hook, an

[2018-10-08 10:11] rangermeier opened #4 "Error normalizing CSS files"
When running a build I get the following error:

[code]

[2018-10-08 14:42] DanielSchaffer commented on #4
Whups, sorry about that! Funny, I've even got a `FIXME` on that in the source:

![image](https://user-images.githubusercontent.com/334487/46615560-505a4600-cacd-11e8-8628-e7415fa4eae1.png)

Unfortunately, simply adding a null check won't be enough since it needs the data that's missing. Any chance you can publish a small repro?

[2018-10-09 16:54] DanielSchaffer commented on #4
@rangermeier give [v1.0.1-alpha.1](https://www.npmjs.com/package/webpack-babel-multi-target-plugin/v/1.0.1-alpha.1) a shot

[2018-10-10 13:42] rangermeier commented on #4
I'm getting some other error now, didn't find the the time yet to find out which chunk this is coming from:

[code]

A question aside from this issue: As far as I understand everything involved, your plugin's method of duplicating entry points, will not generate 'modern' *and* 'legacy' chunks for any lazy-loaded parts of an application.
From my understanding your plugin won't produce the desired r

[2018-10-11 23:17] DanielSchaffer commented on #4
@rangermeier to be honest, I'm not entirely sure. I've only been using this technique with TypeScript, where, unless I'm misunderstanding, dynamic imports aren't a thing.

I'd have to add another example project to really know for sure, but it depends on how the dependency tree is generated and walked. The duplicating method works because each module has its hierarchy of parents, and you can walk

[2018-10-12 08:58] rangermeier opened #6 "Support dynamic imports for Vue components"
Following up to the discussion in [#4](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/issues/4#issuecomment-429153232) I open a new issue for this.

v1.0.1-alpha.2 works fine for examples/es6-dynamic-import but for examples/vue-cssextract (the HelloWorld.vue [component is loaded async](https://vuejs.org/v2/guide/components-dynamic-async.html#Async-Components)) the output still

[2018-10-12 16:44] DanielSchaffer commented on #6
Believe it or not, this actually makes sense since `BabelMultiTargetPlugin.loader` isn't being used for the `vue` files. If the loader isn't used and it's dynamically imported, the plugin won't try to target it. It doesn't work when I just add it in, I'm guessing because it emits more than just JS, so it's going to need some more logic to pick out the JS chunks.

EDIT: I've got a proof-of-concept

[2018-10-14 21:55] DanielSchaffer commented on #6
I've revamped the `BabelMultiTargetPlugin.loader` usage a bit - you'll now replace your `'vue-loader'` with `BabelMultiTargetPlugin.loader('vue-loader')` in your `.vue` rule, in addition to using `BabelMultiTargetPlugin.loader()` in your `.js` rule. Since it's a breaking change, it's in [v2.0.0-alpha.1](https://www.npmjs.com/package/webpack-babel-multi-target-plugin/v/2.0.0-alpha.1). Let me know i

[2018-10-15 11:04] rangermeier commented on #6
That's amazing! Thanks for your work to bring this plugin forward!

v2.0.0-alpha.1 works for me for a simple vue-loader setup.

However I'm getting errors when dynamically importing plain JS code from Vue components. I prepared another small example: https://github.com/rangermeier/webpack-babel-multi-target-plugin/tree/feature/example-vue-dynamic-import (please let me know if I should submit a PR

[2018-10-15 14:44] #4 closed

[2018-10-15 15:04] DanielSchaffer commented on #6
This one's a little trickier. I'm getting a two pairs of requests for the dependency file, I'm guessing because at that point, Webpack doesn't realize it's the same module (since I change the request when targeting). In other use cases, this generally indicates an error, as you can tell from the error being thrown. Looks like I might need to allow the same file to get blind targeted more than once

[2018-10-16 00:45] DanielSchaffer commented on #6
Okay, some progress! [v2.0.0-alpha.2](https://www.npmjs.com/package/webpack-babel-multi-target-plugin/v/2.0.0-alpha.2) should work *without* using that `webpackChunkName` annotation - it ends up using numbered file names, which I understand is less desirable, but it does seem to work.

However, when using the `webpackChunkName` annotation, it looks like it tries to merge the otherwise separate tar

[2018-10-16 08:50] rangermeier commented on #6
v2.0.0-alpha.3 fixes the issue with dynamic imports, also named chunks are working for me now. However I encountered another problem with normal imports of npm modules, see #8 .

Again, thank you for working on this plugin.

[2018-10-16 15:37] DanielSchaffer commented on #6
So, a couple things:

This wasn't actually an issue with the plugin - moment _requires_ (ha!) a little [finessing](https://github.com/moment/moment/issues/2608) when used in an ES6 environment. I added a `resolve` alias for it, and it's working now - though it's still showing a warning for loading locale data, so you'll need to do something more for that (look around for using `ContextReplacementP

[2018-10-20 20:59] DanielSchaffer commented on #6
Assuming there aren't any further issues, I'm going to close this and cut 2.0.0.

[2018-10-20 20:59] #6 closed

[2019-01-07 17:01] web-padawan opened #9 "Add Safari 10.1 nomodule fix"
First of all, thanks for your work! I have implemented the build using `BabelMultiTargetPlugin` and received a feedback about the code broken in Safari 10.1 and iOS 10.3.

The issue is that Safari 10.1+ does not support `nomodule` attribute (fixed in 11). It is a well known issue mentioned e.g. in [blog post](https://jakearchibald.com/2017/es-modules-in-browsers/) by Jake Archibald. So, the code i

[2019-01-07 17:08] DanielSchaffer commented on #9
Oh that's no good! I'll try and take a look this week. I'm also totally open to a PR, though I'd prefer to implement the option as part of the options passed to the plugin - trying to check the browserlist seems a bit opaque. Thank you for the report!

[2019-01-07 17:14] moderndeveloperllc commented on #9
@DanielSchaffer Just an FYI, iOS 10.3 is still showing [about 5% worldwide](http://gs.statcounter.com/ios-version-market-share/mobile-tablet/worldwide/#monthly-201712-201812) while [Safari 10.1 is less than 1%](http://gs.statcounter.com/browser-version-partially-combined-market-share/desktop/worldwide/#monthly-201712-201812), so this fix is mainly for mobile users.

Edit: Oof. I'm bad at reading c

[2019-01-07 17:30] web-padawan commented on #9
Yes the option makes sense, especially note how Vue CLI takes care about `unsafe-inline` CSP rule.

[2019-01-12 00:06] DanielSchaffer commented on #9
@moderndeveloperllc @web-padawan Take a look at [v2.1.0-alpha.1](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.1.0-alpha.1). This adds a top-level option for `BabelMultiTargetPlugin` that will automatically embed @samthor's workaround into the HTML page generated by `HtmlWebpackPlugin`. I used BrowserStack to confirm that it works in both MacOS Safari 10.1, as

[2019-01-12 00:35] moderndeveloperllc commented on #9
The only real issue I have is that a base64 `src` means that my CSP policy will need to include `script-src data:` which is just as bad as `script-src unsafe-inline` as it allows arbitrary JS execution on a page. But is it in the purview of a babel webpack plugin like this to include a `safari.nomodule.fix.js` file into the build? I do like that you've made the default to be `true` as this is an i

[2019-01-12 00:43] DanielSchaffer commented on #9
@moderndeveloperllc I think you might've misread - I haven't put this on by default (at least, not yet) - it's just turned on in the shared configuration for the examples. I'm a little reticent to make this an opt-out type feature, as I realize that injecting a script like this can be a touchy subject. Leaving it off by default would be in line with the rest of the browser-specific workarounds ava

[2019-01-12 04:40] moderndeveloperllc commented on #9
@DanielSchaffer Sorry, I was looking at the example and not the code. Thinking about it, you are right that having the fix included by default isn't best. Lots of folks couldn't care less about the issue. Having an enum would definitely provide the most flexibility.

A good Content Security Policy is tricky. Google has a couple of concise paragraphs about the [problem with inline JS code](https://

[2019-01-12 18:01] DanielSchaffer commented on #9
So, hypothetically, if none of the "inline" type options are available due to a CSP, we're looking at either adding another script tag like I said above, or injecting a script into one of the bundles.

I'm not nuts about the extra tag route, because it necessarily adds an extra blocking HTTP request for EVERYONE when it's not even an issue for most users. We couldn't even do a conditional load, be

[2019-01-12 22:01] web-padawan commented on #9
Thanks for the quick fix! Confirmed to work at web-padawan/polymer3-webpack-starter@ca58d082e2868628992b612c8d864e2a03122f60
The updated [live demo](https://polymer3-webpack-starter.herokuapp.com/employee-new) is now working in my iOS simulator 10.3 so the original issue is fixed.

Regarding the CSP, your idea from the above comment (https://github.com/DanielSchaffer/webpack-babel-multi-target-plu

[2019-01-13 04:48] moderndeveloperllc commented on #9
Having an additional HTTP call is a tradeoff that those of us who need to be tight with CSP face quite a bit. If a developer were to use `external`, it's because they had already resigned themselves to making those extra `script` calls. At least HTTP/2 can help some. A note in the documentation would be sufficient warning for the unaware. I also totally understand if you aren't interested in furth

[2019-01-14 16:34] DanielSchaffer commented on #9
regarding the babel helpers and those other polyfills - shouldn't those be automatically included in the legacy bundle? or have you turned that off in your config?

[2019-01-15 04:40] DanielSchaffer commented on #9
@web-padawan @moderndeveloperllc [v2.1.0-alpha.2](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.1.0-alpha.2) adds an implementation for `safariNoModuleFix: 'external'`

[2019-01-16 19:53] DanielSchaffer commented on #9
@web-padawan @moderndeveloperllc not having a "bundled" (read: not requiring another HTTP request) option was bugging me, so I did a bit of playing around. Essentially you were correct in that apply that specific `nomodule` fix is pretty much a non-starter from within one of the bundles due to the timing of when the scripts are loaded. However, I was able to come at it from a completely different

[2019-01-17 09:49] platosha opened #11 "Need example on how to exclude a polyfill from the modern bundle"
Some DOM APIs are present in all browsers that support ES modules, while could be absent in others, e. g., `URLSearchParams` and `fetch`. When I use polyfills for such APIs in my app, I want to exclude them from the modern bundle to save on the size.

Babel env does not help, because Babel does not care about the DOM APIs, it only polyfills the JS features themselves.

From README I cannot figure

[2019-01-17 15:54] DanielSchaffer commented on #11
@platosha Unfortunately, I don't think there's an easy way to do this just through the plugin as it stands.

I think what I _could_ do is add a setting in the targeting options to explicitly allow or ignore specific entries for a given browser target. That way, if folks have a set of polyfills already set up, they can continue using it without impacting the modern bundle.

I'm imagining it'd look

[2019-01-18 12:06] platosha commented on #11
@DanielSchaffer Excluding entry points for the specific target would be an improvement for sure.

Speaking about having a single entry point, what could help, I think, is being able to configure a global const with [DefinePlugin](https://webpack.js.org/plugins/define-plugin/) in a target-specific way, so that there is a global constant indicating the target at compile time. E. g., so that having s

[2019-01-18 22:26] DanielSchaffer commented on #11
There are definitely ways I can programmatically add modules into a bundle - and I'd prefer to have the plugin do that over making users put conditionals like that in their code. Something like this:

[code]

Do you mind listing which DOM API polyfills you're using so I can make sure whatever I add works with them?

As a side note - it'd be cool to have some sort of implementation that took a `bro

[2019-01-21 10:57] platosha commented on #11
Agree, the `additionalModules` approach is more straightforward, and seems more reliable over defines plus conditional inclusions.

Right now I’m using `URLSearchParams`, `fetch`, and `AbortController` polyfills, here is my [polyfills.js entrypoint](https://github.com/vaadin/base-starter-connect/blob/aae3e5c1cfdeff5520858d19918b287acec98c2c/frontend/polyfills.js):
[code]

Maintaining the order of

[2019-01-22 17:59] adamdoyle opened #12 "Ability to disable babel cache"
Babel's `cacheDirectory` option is hardcoded to a non-undefined value at `babel.target.ts:createTransformOptions(...)`, which can cause some pain when using `debug: true` to debug babel's plugins, etc.

It would be nice if that were in some way configurable.

[2019-01-22 23:59] daKmoR opened #13 "Request for evaluation/feedback"
hey,
we are thinking about using your plugin as part of our [open-wc](https://github.com/open-wc/open-wc)  recommended bundling configuration for webpack.

We are focusing on webcomponents and how to facilitate them. This still requires quite some polyfills.
So having different builds is absolutely vital.

I think we have a pretty good starting point but we are still struggling with the bundle siz

[2019-01-23 11:59] platosha opened #14 "Error when using with html-webpack-include-assets-plugin"
While using `webpack-babel-multi-target-plugin`, I also want webpack to append a script into `index.html`, which is not being compiled with webpack here, but copied from elsewhere. For that, I append `html-webpack-include-assets-plugin` in my webpack configuration like this:

[code]

I’ve got this error when running `webpack`:

[code]

Thrown from these lines in `babel.multi.target.html.updater.js

[2019-01-23 16:36] DanielSchaffer commented on #14
@platosha
**PR:** #15
**Prerelease:** [2.1.0-alpha.7](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.1.0-alpha.7)

[2019-01-23 18:27] DanielSchaffer commented on #13
So! In my cloned repo, I added the [Webpack Bundle Analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer) to help break down what's going into your bundles.

Here's what you're loading:

**main.js - ~12KB**
Everything in here that isn't your code is from `core-js`. I'm not sure there's much to do here, as what gets included here is going to be determined by your usage (e.g. due to `useBu

[2019-01-23 19:40] DanielSchaffer commented on #13
After taking a closer look at what's going on with the demo app, it's a bit clearer why there are so many chunks. I see the dynamic imports in the demo itself, which explains 14.js.

It looks like `@webcomponents/template` and `@webcomponents/webcomponents-platform` are separate because they're added as two separate dynamic imports (`@open-wc/polyfills-loader`, lines 44-45). I expect you could avo

[2019-01-23 21:16] daKmoR commented on #13
uh these are already very valuable insights :)
thxxx

for the groupings there would probably be 3-4 that make sense but will make serving more complicated and our goal is also to be as simple as possible... e.g. just take the output and put it on a simple webserver and you are done. There are way more advanced servers that are doing differential serving per user client... but that's always tougher

[2019-01-23 21:24] DanielSchaffer commented on #13
Well - you're going to be limited in who you can exclude by using `type="module"` and `nomodule`. `type="module"` is supported by Safari going back to 10.1, and including iOS 10.3. Edge has support for it too, and I saw there were some cases in your code where it needed a polyfill as well. Trying to do something like that will require some more complicated logic - either the more "advanced" server

[2019-01-23 23:57] daKmoR commented on #13
oh boy you are right... `nomodule` trick only get's you that far...

can we maybe combine it all? how much impact do you think would such a loader have?

index.html
[code]

do you know of a good example of such a loader script?

[2019-01-24 00:26] DanielSchaffer commented on #13
I know [Modernizr](https://github.com/Modernizr/Modernizr) does this kind of thing, but to be honest, I haven't used it in a while. I suppose it really depends on the requirements - IIRC, Modernizr was nice because it had all the checks built in, but I'm not sure how heavy it is, or how good it is at only include the checks you actually use and such. I'd check it out, but there's always just rolli

[2019-01-24 00:44] daKmoR commented on #13
yeah `Modernizr` is probably way too heavy... and the check we need would probably be not even in there 🙈  So yeah I guess "just" extending the polyfill loader would be the way to go.

And I totally agree that this html file needs to be generated by a webpack plugin. Not yet sure how we could align the targets... but probably just provide they same keys and you should be fine...

interesting ideas

[2019-01-24 01:11] DanielSchaffer commented on #13
Some thoughts and implementation ideas:

* Webpack already sort of has an internal templating system - it's how it wraps everything in those `__webpack_require__` statements and sets up the chunk asset loading sequencing. Take look in the webpack source for where instances where it uses `runtimeTemplate`, particularly `lib/web/JsonpMainTemplatePlugin.js`. There might be a way to follow a similar p

[2019-01-24 02:50] #9 closed

[2019-01-24 02:50] #14 closed

[2019-01-24 04:24] DanielSchaffer commented on #11
@platosha
**PR:** #16
**Prerelease:** [2.1.0-alpha.8](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.1.0-alpha.8)

[2019-01-25 02:46] daKmoR commented on #13
hihi I actually had the exact same thought... all the info is already there (or could be easily added) so it would only be the rendering.

how about just
[code]

===> output
[code]

and to be honest I would postpone any integration with `caniuse.com` data... first get it to work then make it fanzy... although this feature I would already classify as fanzcy 🙈

[2019-01-25 03:52] DanielSchaffer commented on #13
Yeah, it'd be something like that - though the code for the checks, as well as the references to the polyfills themselves would need to be strings so they could be added to the output, and they'd also have to not use ES5+ syntax (unless we also want to run them through babel).

[2019-01-25 07:34] LarsDenBakker commented on #13
How much of a delay would we introduce by feature detecting in JS before loading pur app. Ive played around with it before. We could preload/prefetch the main app in the meantime while we do our polyfill work.

[2019-01-25 12:31] platosha opened #17 "Having another `babel-loader` in the project’s package.json results in silently broken targeting"
While trying several different versions of `webpack-babel-multi-target-plugin`, I have noticed, that some of them result in broken targeting behaviour. Symptoms include:
- the webpack build finishes successfully, no errors or warnings,
- both modern and legacy bundles contain the same code,
- Babel options do not apply, in particular, `presetOptions: {debug: true}` does not do anything useful.

I

[2019-01-25 16:28] DanielSchaffer commented on #13
@LarsDenBakker I'm not sure, as this is relatively new territory for me.

The problem here is that things get more complicated when we're talking about more than two bundles, or targeting browsers by something other than support for ES modules.

With only two bundles targeted by ES module support, this sort of feature could work by hooking in to webpack's existing deferred loading logic - this is

[2019-01-25 16:31] DanielSchaffer opened #18 "tweak safariNoModuleFix implementation"
See @samthor's comment: https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/commit/daf9cc48b88ce1827a7348d17661947e3d365f8a#r32068105

[2019-01-25 16:44] DanielSchaffer commented on #17
Interesting ... I'm curious why this is. There's one place in the plugin code where the `babel-loader` package is referenced, and that's in `targeting.plugin.ts` - but that resolves the full path of the plugin, and that is given directly to webpack along with its options, so it's a little odd that the mere presence of another `babel-loader` package elsewhere in `node_modules` would mess with that.

[2019-01-25 17:09] DanielSchaffer opened #19 "Using array entry breaks module execution order"
When using an array entry point:

[code]

Modules are executed in alphabetical order instead of the order of inclusion.

[2019-01-25 18:05] #17 closed

[2019-01-25 22:57] DanielSchaffer commented on #12
@adamdoyle
**PR:** #20
**Pre-release:** [v2.1.0-alpha.10](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.1.0-alpha.10)

[2019-01-26 00:52] adamdoyle commented on #12
You're the best; thank you!

[2019-01-26 01:16] #12 closed

[2019-01-26 18:43] DanielSchaffer opened #21 "discussion: plugin options revamp"
The flurry of activity on this project over the last couple weeks has made me realize that the current options structure isn't terribly forgiving with regards to providing the kind of flexibility that is required in customizing options for Babel. As part of the `3.0.0` release, I'd like to change the format of the options to make this a little more straightforward and manageable. Here are the goal

[2019-01-26 20:08] LarsDenBakker commented on #21
I think these changes make a lot of sense, being able to customize options and plugins per target would be very beneficial.

[2019-01-26 21:13] DanielSchaffer opened #22 "add travis-ci integration"
- [ ] lint, test, and build on all branches
- [ ] prerelease deployments to npm on `release/*` branches
- [ ] non-prerelease deployments to npm on `master`

[2019-01-28 23:37] #11 closed

[2019-02-02 20:00] #19 closed

[2019-02-02 20:00] #18 closed

[2019-02-11 13:54] web-padawan commented on #21
I have submitted a proposal to integrate your plugin to Storybook: storybooks/storybook#5531

This could be a good chance to discuss use cases of the Storybook core, relevant code is here:
https://github.com/storybooks/storybook/tree/next/lib/core/src/server

[2019-03-03 21:47] ggriffithsIDBS opened #23 "Imports with expression cause infinite loop when called inside a dynamic import"
With Webpack you can define an import with any expression in the name e.g.
[code]
![image](https://user-images.githubusercontent.com/30403877/53702357-f3558880-3dfd-11e9-96ee-1482999b5b8c.png)

I've run into an issue with this plugin (via the configuration from open-wc/building-webpack), where I find that imports like the one above do not work if they are themselves defined inside of a file which

[2019-03-03 22:50] DanielSchaffer commented on #23
@ggriffithsIDBS Hi, thanks for the report and the repro! I'll try and take a look this week.

[2019-03-03 23:01] DanielSchaffer commented on #23
Just for some context, in case you want to take another look at debugging:

`NormalizeCssChunksPlugin` is responsible for de-duping any CSS modules that are generated by the app (e.g. so you get a single `styles.css` module instead of both `styles.modern.css` and `styles.legacy.css`, for example). That particular part of the code that's getting hung up is trying, as the stack trace suggests, to fi

[2019-03-15 13:06] LarsDenBakker commented on #21
Will you have time to implement (some) of this customization?

I can work on implementing this if we settle on an API.

[2019-03-17 21:11] DanielSchaffer commented on #21
@LarsDenBakker Sorry, I've been busy with some other projects, and I'm not sure when I'd be able to get to this one myself. I can write up a feature issue with AC if you'd like to take a swing at implementing.

[2019-03-30 18:42] DanielSchaffer commented on #23
@ggriffithsIDBS Sorry for the delay - just got the chance to sit down with this today. I wasn't able to reproduce the error. I didn't use the repro you included since the `dynamic_feature` variable you reference isn't actually declared or set anywhere, so I'm not sure how that would be expected to work. I added an import to the existing `es6-dynamic-import` example using the same pattern, and it s

[2019-03-30 18:50] DanielSchaffer commented on #13
@daKmoR @LarsDenBakker looks like your PR has been merged, so I'm going to close this. If there are specific features you need from this project, absolutely feel free to open a feature request issue.

[2019-03-30 18:50] #13 closed

[2019-03-31 16:32] Georgegriff commented on #23
@DanielSchaffer  thanks for looking into this, I created a pr on your branch which adjusts the code to reproduce the problem.
I had a few issues building the code, i'm a windows user, so I had to have Ubuntu for windows save me 👍

[2019-03-31 19:12] DanielSchaffer commented on #23
@Georgegriff I think I've fixed the main underlying issue in https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/commit/c99dc19dcfdbf05354b2c4a258efbdb3c7f94952 - I'm working on some further improvements so that you can have better control over the naming of the resulting chunks:

- Adapting the included `NamedLazyChunksPlugin` to work with ES6 dynamic imports: this will basically

[2019-03-31 19:21] Georgegriff commented on #23
Sounds good, for some background where the same named files comes from, it comes from our architecture where we selectively load features from a json API e.g. `features : ["save","edit","search"] ` ultimately this results in a dynamic import in the form of ```import(`plugins/${features[i]}/plugin.js`)``` lets us do lazy loaded features of the UI that are driven by backend permissions.

[2019-04-02 16:29] #23 closed

[2019-04-03 15:09] DanielSchaffer opened #27 "Update to core-js 3.x"

[2019-04-13 17:38] veikkoeeva opened #28 "A typeError 'Cannot read property 'options' of undefined' in babel-target.js:92:20"
Hi!

I don't know if this is the right place and this the right way to ask for help, but...

I tried to set up this plugin and have errors that seem to have to do something with the Babylon version I'm using, but I'm unable to sort it out nor ascertain myself it's not something in my setup. The errors look like as follows

The project is located at https://github.com/veikkoeeva/MultioutputWebpack

[2019-04-13 17:40] veikkoeeva commented on #28
Cross-referencing https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/issues/14, might be related. Will investigate.

[2019-04-13 18:39] veikkoeeva commented on #28
It appears the problem was solved by adding `doNotTarget: [ /node_modules/, nodeModulesDir ],` to exclude Node modules from transpilation. I have another problem now, but it appears being something entirely different. I'll close this.

[2019-04-13 18:59] DanielSchaffer commented on #28
@veikkoeeva You most likely shouldn't be excluding `node_modules` like that. This plugin is intended to load in the highest possible ES level from `node_modules` packages, and transpile them if necessary. The reason for this is that the `main` entry point for most packages generally includes pre-transpiled code and polyfills that you'd want excluded from a `modern` bundle. I'll take a look and see

[2019-04-13 19:01] veikkoeeva commented on #28
@DanielSchaffer Ah, I see. I just updated the Webpack configuration. After excluding those I see errors that tell basically

    at doNotTarget.doNotTarget.find.entry (C:\projektit\testit\Aurelia\AureliaTest1\node_modules\webpack-babel-multi-target-plugin\dist\src\targeting.plugin.js:258:70)

(that path is the project directory). I do not know then if this problem is caused by excluding the Node d

[2019-04-13 19:09] DanielSchaffer commented on #28
Okay. I haven't tested this plugin with Aurelia yet ... but there's also some pretty intricate chunking config in there, so I'm not sure which piece is the problem. I'm going to start by just adding a clean CLI-generated app as an example and go from there.

[2019-04-13 19:16] veikkoeeva commented on #28
@DanielSchaffer OK. :) I noticed I had
[code]
Note the part with asterisks. The 'exclude' had superfluous hyphens. After removing them and having
`doNotTarget: [ ], exclude: [ ],` makes the process go through as much as `html-webpack-plugin` to produce the result. The previous steps with multi-webpack ended up in `ERROR in   TypeError: Cannot read property 'options' of undefined` though, so no luc

[2019-04-13 19:30] DanielSchaffer commented on #28
@veikkoeeva I was able to reproduce the error with a clean CLI app, which means that Aurelia is doing something that my plugin hasn't accounted for yet. Given the error, I'm hoping the fix will be relatively straightforward - errors in that part of the code usually just mean that I haven't told it to look for something in the right place yet. Unfortunately, this means that there likely isn't anyth

[2019-04-13 19:42] veikkoeeva commented on #28
@DanielSchaffer That is much appreciated. If it's something that requires Aurelia specific questions, I might be able to help or the very least either forward the questions and/or point channels (https://twitter.com/eisenbergeffect et al. seem to be very responsive). The problems might be related to [aurelia-webpack-plugin](https://github.com/aurelia/webpack-plugin/wiki)[wiki].

Now that you have

[2019-04-13 20:03] DanielSchaffer commented on #28
Okay - try using `v2.3.0-alpha.1`. You'll need to git rid of any exclusions for `node_modules` in the plugin config.

[2019-04-13 20:09] veikkoeeva commented on #28
I updated the repo, ran `au build` and it went through. The step `au build` produced

Module not found: TypeError: Cannot read property 'descriptionFileRoot' of undefined
 @ (webpack)-dev-server/client?babel-target=es6 102:17-67
 @ multi aurelia-webpack-plugin/runtime/empty-entry?babel-target=es6 aurelia-webpack-plugin/runtime/pal-loader-entry?babel-target=es6 webpack-dev-server/client?babel-targe

[2019-04-13 20:10] veikkoeeva commented on #28
I wonder if this could be solved with fiddling about the URL... Somehow seems too easy (but I don't know the inner workings)... :P

[2019-04-13 20:12] DanielSchaffer commented on #28
Shoot. I’d say try using “modern” and “legacy” as the target keys instead of “es6” and “es5” as a shot in the dark. If that still doesn’t work, I’ll have to take a deeper look into what’s going on later. Unfortunately, I’m out of time for today!

[2019-04-13 20:14] DanielSchaffer commented on #28
Oh, so - that error looks like there’s something that’s somehow letting it target the webpack dev server includes, which I don’t think should be happening. Not sure if that’s a regression or something about the config that Aurelia generates. Try adding /webpack-dev-server/ to the doNotTarget array

[2019-04-13 20:16] veikkoeeva commented on #28
Don't sweat too much. You have been very helpful already. Let's see what comes. :)

<edit: Chaging the target keys didn't fix. At least not those alone, fiddling a bit before going to bed...
<edit 2: Having ` doNotTarget: [ /webpack-dev-server/ ]` didn't change the error output either (will be checking more carefully).

[2019-04-15 10:01] veikkoeeva commented on #28
An intermediary note that didn't get this resolved with a bit extra added effort. Reading https://github.com/aurelia/webpack-plugin/wiki/AureliaPlugin-options I'm eying towards the parts on HTML loading and templating and check those next (have to clear up some other things first).

[2019-04-18 13:17] veikkoeeva commented on #28
There is https://github.com/aurelia/webpack-plugin/pull/159, more explanation at https://github.com/aurelia/webpack-plugin/issues/157. Might affect this too, at least might shed light into some inner behavior if that becomes and issue.

[2019-04-26 15:09] CarterLi opened #29 "[Discussion] Any thoughts about generates the true es6 ( aka not flattened ) modules?"
Great project! But I'm thinking further: What about generates unflattened modules?

1. Parse the whole repo recursively, to build an [import-map](https://github.com/WICG/import-maps). Or transform `import Xxx from 'some_module'` into `import Xxx from '/node_modules/some_module/index.js'`.
1. All files imported are still transformed using loaders specified by webpack configuration rules, with optio

[2019-05-12 18:58] Austaras opened #30 "support html-webpack-plugin@4"
[code]

[2019-05-12 19:12] Austaras commented on #30
well, this is solved after use stable version of HtmlWebpackPlugin, but I believe a detailed explanation will be interesting and helpful for me and other people who encountered this problem

[2019-05-18 19:07] DanielSchaffer commented on #29
@CarterLi - I agree, being able to use Webpack for outputting unflattened ES6 files would be great - but that's 100% to do with Webpack, and not this plugin.

[2019-05-18 19:07] #29 closed

[2019-08-03 13:22] TheSilentHorizon opened #34 "Babel seems to have an issue with expose-loader files"
When exposing JQuery in Webpack, The Plugin encounters a unexpected blind targeting request.

[code]

Webpack part that causes the error:

[code]

[2019-08-23 21:17] DanielSchaffer commented on #34
Hi there, sorry for the delay!

I was able to get this working with the latest version of `webpack-babel-multi-target-plugin` using this configuration:

[code]

Note that I do _not_ `import` jquery anywhere in the source files - using `ProvidePlugin` means you don't need to do that. Also of importance is ensuring that any rules using `expose-loader` are defined _before_ rules using `BabelMultiTarg

[2019-08-23 21:17] #34 closed

[2019-08-23 21:24] DanielSchaffer commented on #30
`html-webpack-plugin@4` is still in beta ... I'll start looking into this after I can resolve other higher priority issues.

[2019-08-23 21:37] l33the commented on #34
Thanks for the response and the explanation!

[2019-08-23 21:39] DanielSchaffer commented on #34
@TheSilentHorizon sure thing! I also updated the README, and there's also an example in the repository here using both `jQuery` and `expose-loader`

[2019-08-24 16:23] DanielSchaffer commented on #28
@veikkoeeva just took another peek at this again, and I'm still seeing that `aurelia-pal-browser` error. I'm wondering if perhaps it's missing because the module ID gets changed by `webpack-babel-multi-target-plugin`? It might end up being `aurelia-pal-browser?babelTarget=modern`/`aurelia-pal-browser?babelTarget=legacy`. I might have to chat with the authors and figure out what it's doing - it cou

[2019-08-24 16:36] #27 closed

[2019-08-24 16:49] DanielSchaffer opened #35 "Support Angular CLI-based projects"
- Angular has its own differential loading solution that uses a different approach
- It does _not_ use `HtmlWebpackPlugin`, but has its own "index" page generating logic
- Angular's diff loading can be disabled by setting `browserslist` to `>5%` and setting the `tsconfig` target to `es6`
- `HtmlWebpackPlugin` can be used with the Angular CLI by pointing its "index" configuration to an empty HTML f

[2019-08-24 16:55] DanielSchaffer opened #36 "Deprecate use of configuration options to be removed in 3.0.0"
- [ ] deprecate `options.babel.plugins` - add `@deprecated` jsdoc and a console warning when using it
- [ ] deprecate `options.babel.cacheDirectory` - add `@deprecated` jsdoc and a console warning when using it

[2019-08-24 16:56] DanielSchaffer opened #37 "add loaderOptions for babel"
- [ ] add `options.babel.loaderOptions`

[2019-08-24 16:59] DanielSchaffer commented on #21
@LarsDenBakker sorry for the long delay! I'm starting to look at getting some of these changes done. Are there still things you'd like to discuss?

[2019-08-24 17:05] LarsDenBakker commented on #21
We switched to recommending rollup, where it is a lot easier to implement these kinds.of things.

[2019-08-24 17:07] DanielSchaffer commented on #21
Interesting! Thanks for getting back to me!

[2019-08-26 20:55] DanielSchaffer commented on #28
@veikkoeeva one other thing to try - try setting the `normalizeModuleIds` property to `true` (https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin#options-reference) - if my previous comment is accurate, that could help the issue.

[2019-08-27 09:24] veikkoeeva commented on #28
@DanielSchaffer I take a look! I'm currently at https://www.worldwaterweek.org/ so takes a bit time of bake (I probably need to referesh myself with sleep too afterwards). Thanks for coming back with a fresh idea.

[2019-10-15 14:02] vesanieminen opened #39 "Encountered unexpected blind targeting request on Windows 10"
The following error happens on Windows 10 when using a prepackaged Juicy Ace Editor npm dependency that has been transpiled and minified to ES5 already:

[code]
This error does not happen on MacOS.

[Minimally reproducible project.](https://github.com/web-padawan/webpack-wc-demo/tree/ace)

[2019-10-16 06:47] web-padawan commented on #39
Note, we tried `exclude` to workaround that (avoid passing `ace-builds` to Babel) but looks like `exclude` is broken, see #38

[2019-10-17 16:21] DanielSchaffer commented on #39
It's a bit odd that this is a Windows-only issue ... I just checked and I don't see anything obvious like I'm hardcoding path separators anywhere it'd cause an issue like this. I'll get #38 released for you and see if that can at least help you work around it. Unfortunately, I don't have a straightforward way to reproduce/debug with Win10 as I'm running MacOS and don't have a license to run it in

[2019-10-17 16:48] DanielSchaffer commented on #39
Actually, I take that back - I've got regexps in [excluded.packages.ts](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/blob/develop/src/excluded.packages.ts) with forward slashes for path separators. These are paths with packages that should never be transpiled, and always excluded - so I think this is an issue for Windows in general, not just for the ACE package you're workin

[2019-10-17 17:13] DanielSchaffer commented on #39
@vesanieminen @web-padawan Can you try using [v2.3.1-next.2](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.3.1-next.2) and let me know if that fixes the issue on Win10 (without using exclusions)?

[2019-10-18 07:49] vesanieminen commented on #39
I'm running MacOS as well and am using a [free Windows 10 VM available from Microsoft](https://developer.microsoft.com/en-us/windows/downloads/virtual-machines) to test this. The environment is slow to run but it's a good option for testing

Sure, I can test it.

[2019-10-18 07:56] vesanieminen commented on #39
I tested with [a new branch where I changed to the new v.2.3.1-next.2 version](https://github.com/vesanieminen/webpack-wc-demo/tree/ace).
I'm using these:

- [Webpack-config.js](https://github.com/vesanieminen/webpack-wc-demo/blob/ace/webpack.config.js)
- [package.json](https://github.com/vesanieminen/webpack-wc-demo/blob/ace/package.json)

Works fine on Mac but with Windows 10 I get this:

[code]

[2019-10-18 10:55] bitfella opened #40 "Ignores dynamic import css chunks generated via mini-css-extract-plugin"
Hello,
seems like this plugin can't output dynamic import css chunks generated via mini-css-extract-plugin.
I am using version 2.3.1-next.1 (Windows 10) to overcome #38 #39

Please see this repo for further details: https://github.com/bitfella/webpack-babel-multi-target-plugin-test

Thanks!

[2019-10-18 17:47] DanielSchaffer commented on #39
@vesanieminen nope, that's me forgetting to double-escape the path separator for the regexp 🤦‍♂️

[2019-10-19 18:16] DanielSchaffer commented on #39
@vesanieminen pushed a fix for my missing path separator escaping. I'm downloading that VM to try and set up and check it, but if you see this in the next hour or so while that's happening, you can try `2.3.1-next.3`

[2019-10-19 18:24] DanielSchaffer commented on #40
@bitfella can you elaborate a little on what's going on? Are you seeing any errors? If not, what behavior are you expecting that is not happening? I'm not seeing any build errors on Mac (waiting for a Windows VM to download currently).

If this is a Windows-only issue, it's possible that you're also running into the root cause of #39 (see the ongoing discussion there) - and if that's the case, try

[2019-10-19 19:35] bitfella commented on #40
@DanielSchaffer hi, no console errors whatsoever. Simply It does not spit out dynamic import css chunks. If I remove webpack-babel-multi-target-plugin in my example repo, everything works as expected (dynamic import css chunks are correctly generated). I will try next.3 as soon as I get back to the office (I got no Windows PC at home).

Thanks!

[2019-10-21 08:29] bitfella commented on #40
@DanielSchaffer updated to `next.3` as you suggested, but unfortunately the build process fails this time. See log:

[code]

[2019-10-21 08:48] bitfella commented on #40
@DanielSchaffer I've updated my test repo with a new branch `no-multi-target` (https://github.com/bitfella/webpack-babel-multi-target-plugin-test/tree/no-multi-target): in the latter you can see how `tabs.css` chunk is correctly generated in `dist/chunks` folder when `webpack-babel-multi-target-plugin` is disabled.

Thanks again

[2019-10-21 12:05] vesanieminen commented on #39
@DanielSchaffer still doesn't work. Here are the logs:

[code]

logfile:
[code]

[2019-10-26 16:57] DanielSchaffer commented on #39
@vesanieminen @web-padawan @bitfella okay, `.next-8` worked for me on my Win10 VM

[2019-10-30 09:25] vesanieminen commented on #39
Yep, now it works for me as well with .next-8. Thanks a lot 👍
Here's the project I tested with: https://github.com/vesanieminen/webpack-wc-demo/tree/db38af014fb47678012dee6e2e75fcf904ec236c

[2019-10-30 09:26] #39 closed

[2019-10-30 15:59] DanielSchaffer commented on #39
@vesanieminen @web-padawan great! [`2.3.1` is released](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.3.1).

[2019-10-30 16:21] bitfella commented on #40
Hi @DanielSchaffer, any update on this?

Thanks

[2019-10-30 16:30] DanielSchaffer commented on #40
@bitfella hey there - sorry, I haven't been able to look at this specifically yet. Hopefully I'll be able to take a peek this weekend. If you have the time and inclination to take a look yourself before then, `NormalizeCssChunksPlugin` would be a good place to start - if I had to make a guess, it would be that `extractCssChunks` isn't correctly preserving dynamically generated chunks when it does

[2019-11-01 00:05] DanielSchaffer commented on #40
For some background, `NormalizeCssChunksPlugin` exists to avoid creating duplicate CSS files when using a plugin like `MiniCssExtractPlugin`. Duplicate CSS files are created because the CSS is generated and attached for each of the targets - so there's a file created for the `legacy` bundle as well as the `modern` bundle. Since this plugin only deals with JavaScript, the CSS will always be identic

[2019-11-01 19:29] DanielSchaffer commented on #40
@bitfella - I've got something working for the updated `es6-dynamic-import` example ... give `2.3.2-next.1` a shot.

[2019-11-04 12:40] bitfella commented on #40
Hi @DanielSchaffer, thanks for your work!
I've updated to `2.3.2-next.1` and this time dynamic import css chunks are correctly generated in the file system, BUT I am now facing a different issue: there's some logic missing in the ES6 version of the JS output: inside the function requireEnsure a whole block of code is missing:

[code]

as a consequence, in the ES6 bundle dynamic import css chunks a

[2019-11-04 19:13] DanielSchaffer commented on #40
Ohh interesting. I think I understand why this is happening - the CSS module gets removed from the ES6 bundles to prevent creating a duplicate, but that also removes the JS code that causes it to be loaded. For non-dynamic CSS modules it's not a problem since they're automatically linked by `HtmlWebpackPlugin`, but it breaks them when they _are_ dynamic.

I'll have to see if there's a way I can ju

[2019-11-07 02:36] DanielSchaffer opened #47 "support deduplicating CSS from dynamic import modules"

[2019-11-07 16:38] DanielSchaffer commented on #40
@bitfella okay, got another update for you. My [assumption](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/issues/40#issuecomment-549503915) was correct - the extracted CSS modules also have sibling JS modules that include the code required to load the CSS assets when the dynamic module is loaded. Since the CSS modules were getting removed and getting added to the "standin" ch

[2019-11-08 08:20] bitfella commented on #40
Hi, @DanielSchaffer thanks for the update! Just tested `2.3.2-next.2`, but nothing seems to have changed from `2.3.2-next.1` 😢
Still got one css chunk output; it is correctly imported in es5 bundle but NOT in es6 one.
I've updated both branches of my test repo.

Thanks again!

[2019-11-09 09:17] Artur- opened #48 "Unable to import 'crypto' when plugin is used"
Trying to use
[code]

when the plugin is included in a webpack build results in

[code]

To reproduce:
[code]

If you remove the `BabelMultiTargetPlugin`, `webpack` finishes successfully

[2019-11-09 09:33] Artur- commented on #48
My problem originates in https://github.com/dmonad/lib0/blob/master/random.js#L36 which uses the `crypto` module when running on Node and something else in the browser. With this plugin however, `lib0` cannot be used.

The real code that fails is something like
[code]

[2019-11-10 23:12] aaarichter opened #49 "Switch to core-js 3.x not mentioned in 2.3.1 release changelog"
Hi,

The change to bump core-js 3.x in 2.3.1 is kind of a breaking change for me due to the fact that one has to exclude the core-js node module. see https://github.com/zloirock/core-js/issues/514

In my case I have core-js pinned down to 2.x, which will cause the following error

[code]

maybe you should bump a major or mention the dependency to core-js 3.x

[2019-11-15 21:05] DanielSchaffer commented on #49
Oh heck, I'm sorry about that! I wasn't planning on including that until 2.4, I'm not sure how that snuck in.

I'll see if I can revert that change and publishing a patch version this weekend. I've also updated the [release notes for 2.3.1](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.3.1) to reflect the change.

[2019-11-16 18:55] aaarichter commented on #49
No problem @DanielSchaffer . Thanks for addressing it 😺

[2019-11-17 17:39] DanielSchaffer commented on #49
@aaarichter try `2.3.3-next.1`. That should include everything from `2.3.1` except the core-js bump.

Note that I had to skip from `2.3.1` to `2.3.3` for this because I'd already started a `next` release for `2.3.2` - so it had to be `2.3.3` to avoid npm package version conflicts for prereleases.

[2019-11-21 02:30] aaarichter opened #50 "Upcoming Webpack5 compatibility"
Hi @DanielSchaffer ,

with webpack5 at it's doorstep, I noticed that with webpack@next (v5.0.0-beta7) the following line https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/blob/c7e8dddd20a5828ec40ba78b805ad855e1b3ebd9/src/babel.target.multi.entry.plugin.ts#L4 throws:

[code]

It looks like v5 changed their `/lib` structure

[2019-11-23 11:25] shurygindv opened #51 "TypeError: Cannot read property 'descriptionFileRoot' of undefined"
Hi! Thank you for the great plugin letting us make (IT, world) more progressive! But. I came across the next problems:

1) `ERROR in .?babel-target=legacy
Module not found: TypeError: Cannot read property 'descriptionFileRoot' of undefined
 @ .?babel-target=legacy 8:14-39`

**Reproducable repo**: https://github.com/shurygindv/reproducable-babel-multi-target

2) I can't find the bottleneck of this

[2019-11-30 13:32] shurygindv commented on #51
any ideas? let me hope that it may be fixed... or right way is to fork this repo and write own bike

[2019-11-30 21:57] DanielSchaffer commented on #51
Hi there! Looks like this is a bug in how modules loaded via `require.context` are handled. I'll have to do a little digging to figure out specifically what's going on.

[2019-11-30 23:04] DanielSchaffer commented on #51
@shurygindv  Looks like this was a pretty easy fix - try `v2.3.3-next.2`

[2019-11-30 23:05] DanielSchaffer commented on #50
@aaarichter hey, thanks for letting me know. I'll have to poke around with v5 a bit.

[2019-12-01 11:19] shurygindv commented on #51
@DanielSchaffer, thank you so much! an error seems disappeared, but I haven't tried runtime yet, as there is (2) problem, as mentioned before in a post, could you help?

In my opinion **1 line** on 14 position looks good, need your eagle-eyed...

![Capture](https://user-images.githubusercontent.com/38868386/69913130-33a96c00-144d-11ea-942e-399ab037b737.PNG)

p.s sorry, I didn't find out a feature

[2019-12-01 19:12] DanielSchaffer commented on #51
Looks like there's some sort of compatibility issue with `bloodhound-js`. It's possible there's some sort of conflict if there's a dependency on `es6-promise`, since Promises would be polyfilled by Babel/core-js separately. I'll see if I can track it down.

[2019-12-01 21:03] shurygindv commented on #51
ok, thx) also I have similar errors with local UI modern components (.tsx files) (self-writеtten by the team) + bloodhound, damn it! I had spoken my team why we need so legacy pkg

[2019-12-02 04:19] DanielSchaffer commented on #51
Okay, figured it out - `es6-promise` had some data in their package.json in a format I wasn't expecting - a `false` value in the `browser` object (used to ignore a file - see https://github.com/defunctzombie/package-browser-field-spec#ignore-a-module). I've added code to correctly handle that now.

I was also seeing some weird behavior with `@babel/preset-env` and `core-js`, which I solved by sett

[2019-12-02 04:36] DanielSchaffer commented on #51
It looks like bloodhound isn't even maintained any more - it hasn't seen a commit in over 4 1/2 years. It might be better idea to find an alternative package or method. Are you using any frontend framework (Angular, React, Vue, etc)?

[2019-12-02 11:57] shurygindv commented on #51
@DanielSchaffer, yes, we use React + TypeScript (awesome-ts-loader), the bloodhound is an echo from a previous, legacy stack; we had a short time and cup of tea to integrate all codebase on a new modern stack, but right now I initiate the process to replace this package

[2019-12-02 12:13] shurygindv commented on #51
@DanielSchaffer, gracious 💃 ! finally, I can bundle without errors, it's a magic fix (+ I'll set corejs on '3' version). Thank you!

p.s modern/legacy bundle pretty works in runtime
p.s when do you plan to release a new version of the plugin?)

[2019-12-02 16:24] #49 closed

[2019-12-02 16:24] #51 closed

[2019-12-02 16:40] DanielSchaffer commented on #49
This is now released in [2.3.3](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.3.3)

[2019-12-02 16:40] DanielSchaffer commented on #51
This is now released in [2.3.3](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.3.3)

[2019-12-02 17:05] DanielSchaffer commented on #48
It looks like this may have been the same or similar root cause as [this issue](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/issues/51#issuecomment-560222467) in #51, as I can't reproduce your error in `2.3.3`. Let me know if you're still seeing errors after upgrading.

[2019-12-04 17:53] shurygindv commented on #50
@DanielSchaffer, do you have plans to up-to-date (dev)dependencies to the latest?)  or it may redundant now.. (package.json) 🙂

(sorry for an improper topic)

[2019-12-04 18:03] DanielSchaffer commented on #50
@shurygindv I've sort of been avoiding it unless there's a security vulnerability, or something I need. You know, "if it ain't broke..." Is there anything in particular you're interested in?

[2019-12-23 12:20] erezvish commented on #30
Hi,
just encountered this issue and since downgrading to the stable version of html-webpack-plugin is not an option for me, I was wondering if perhaps if this issue had a chance to move up the chain of priorities.

[2019-12-24 02:45] Austaras commented on #30
@erezvish I'm a bit occupied lately so you may pr it yourself. You can check [this](https://github.com/jantimon/html-webpack-plugin/blob/b26c8dabe552a62beaac6e4f3d0e264055aae9e6/README.md#events) as a reference

[2020-01-06 07:05] erezvish commented on #30
I'd be happy to try and take a stab at it, but to be honest I'm not entirely sure how start.
Are there contributing guidelines somewhere? how to get this up, running, and debug?

[2020-01-06 15:51] DanielSchaffer commented on #48
Closing this due to inactivity.

[2020-01-06 15:51] #48 closed

[2020-01-06 16:00] DanielSchaffer commented on #30
@erezvish there aren't yet, sorry about that. As for setting up locally:

- running `yarn setup` should install all dependencies for the plugin and the examples
- There are notes for building and running the example projects in the [README](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin#example-projects)
- You can debug the plugin directly from your IDE by pointing it at a spe

[2020-01-06 16:07] barroudjo opened #54 "presets for babel"
Since this plugin requires us to stop using babelrc (and I assume babel.config.js), how can we list additionnal presets to be used (such as @babel/typescript, @babel/preset-react ?

Thanks !

[2020-01-06 16:23] DanielSchaffer commented on #54
@barroudjo You know, I think that might've been an oversight on my part - there's a way to add more plugins, and a way to customize the config for `preset-env`, but no way to add more presets.

I'll have to release a patch to add that to the plugin config. I'll try and get to that this week!

[2020-01-06 16:45] barroudjo commented on #54
Thanks a lot, that would be great !

[2020-01-07 07:13] Artur- commented on #48
Thanks, fails with 2.3.1 and works with 2.3.3

[2020-01-11 20:12] Austaras opened #56 "use single runtime chunk will cause error"
set webpack config
[code]
will cause
`ERROR in   TypeError: Cannot read property 'options' of undefined`

[2020-01-13 22:06] barroudjo commented on #54
Did you have a chance to take a look at that patch ?

[2020-01-31 17:33] #30 closed

[2020-02-04 14:55] Austaras opened #58 "fork-ts-checker emits error"
[bug reproduction repo](https://github.com/Austaras/boilerplate/tree/repro)

when use this plugin and fork-ts-checker together, fork-ts-checker will complain about
[code]
which should be resolved by add your custom babel-loader typing to build result

[2020-02-07 12:03] kmaraz commented on #28
Hi, I have the same problem in my Angular (custom webpack configuration) app.

[2020-02-07 12:06] kmaraz commented on #28
Here is complete error from my index.html:
`Html Webpack Plugin:
<pre>
  TypeError: Cannot read property 'options' of undefined

  - babel-target.js:92 Function.getTargetFromModule
    [slido-admin]/[webpack-babel-multi-target-plugin]/dist/src/babel-target.js:92:20

  - babel-target.js:112 Function.getTargetFromEntrypoint
    [slido-admin]/[webpack-babel-multi-target-plugin]/dist/src/babel-target.

[2020-02-11 15:10] moderndeveloperllc commented on #50
@DanielSchaffer Not sure what packages @shurygindv was concerned about, but `core-js` 2.x is no longer developed. Can't imagine updating that would really affect much, but it would keep uf from seeing the deprecation warning every install!

[2020-02-13 18:51] DUBANGARCIA commented on #35
I created my own builder and after trying different webpack configurations I managed to adopt this plugin in a custom webpack configuration and the configuration that the angular cli has by default, and basically I achieved it by removing the plugins that angular generated error and adding HTMLWebpackPlugin

[2020-02-13 18:55] DanielSchaffer commented on #35
Yeah, this is definitely possible to do with https://github.com/just-jeb/angular-builders/tree/master/packages/custom-webpack - I don't know that there are any changes required for this plugin to support it, but I would like add a working example and instructions to include in the documentation.

[2020-02-14 09:28] semoal commented on #21
I just saw this issue, hmm, probably we can go on a feat version, with the changes i've made.
We could work on parallel on this changes with a @next /@canary / @alpha version, as you want.

[2020-02-14 12:44] despian opened #61 "Runtime error when using webpack-dev-server"
When running my project with `webpack-dev-server` I get the following runtime error:

[code]

This can be resolved by adding:

[code]
or
[code]

I'm using:

[code]

I was surprised that I wasn't able to find anybody mentioning this same exact issue here or elsewhere online (maybe my google-foo is just bad). There must be many people using this plugin with `webpack-dev-server` which makes me think

[2020-02-15 17:31] #61 closed

[2020-03-10 16:19] #54 closed

[2020-03-10 16:41] DanielSchaffer opened #64 "v2.5.0"
@Austaras @despian @semoal @erezvish

Hey folks!

My apologies (again, as ever) for the delay in following up . You all have PRs or otherwise interest in the upcoming `2.5.0` release. I've just published a new prerelease, [v2.5.0-next.2](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.5.0-next.2), which includes the following PRs:

- #55 - support htmlwebpack v4

[2020-03-10 17:32] Austaras commented on #64
everything works fine for me, I'm trying to figure out how to fix my other two issue.

[2020-03-10 17:33] Austaras commented on #58
https://stackoverflow.com/questions/56018167/typescript-does-not-copy-d-ts-files-to-build

so it's TSC's fault, guess I should make fork-ts-checker to ignore it.

[2020-03-10 18:07] DanielSchaffer commented on #64
Oh, I'd meant to also say that for #60, I'm planning on a major release (3.0) after 2.5.0 goes out since corejs is a pretty integral part of how this plugin works, and the default is changing by a major version.

[2020-03-25 17:48] moderndeveloperllc commented on #64
I would probably up the `html-webpack-plugin` `peerDependency` to be 4.0.0 (without the beta) as it's now up to 4.0.1. Some projects might not like the beta dependency.

[2020-03-27 12:53] DreierF commented on #64
What about #56 respectively #65? Could this go into a 2.5.1?

[2020-03-27 14:49] Austaras commented on #64
@DreierF that pr is only meant to be a temporary workaround and make 2.5.0 usable for me. Someone, maybe me, should figure out a proper fix in the long run.

[2020-03-27 15:08] erezvish commented on #64
Hi
I'll try to get around to it soon but no promises.
With the covid-19 craziness getting things done is a bit difficult right now

[2020-05-14 21:26] moderndeveloperllc commented on #64
@DanielSchaffer Are you still looking to add the `options.loaderOptions` and deprecation warnings (#36, #37) before 2.5, or wait on that?

[2020-05-23 19:39] DanielSchaffer commented on #64
@moderndeveloperllc Hi! My only concern is that there's a 2.x release that deprecates the things that will be removed before they actually get removed in 3.0. Unfortunately, I haven't had much time to focus on this project lately, so can't say when I'll be able to do either of those things.

[2020-07-24 13:02] qpre opened #77 "BlindTargetErrors when building @tanker and subscriptions-transport-ws"
Hello !

First of all thanks a lot for your efforts on this particular matter that is differential loading,
the ecosystem shall be thankful !

I'm trying to convert a webpack configuration from a project using react / Apollo and a bunch of other tools to use this plugin. I've been in luck so far but just came across an issue that I do not know how to solve.

plugin revision: `2.5.0-next.2`

webpac

[2020-07-25 13:41] jlowcs opened #78 "ContextReplacementPlugin apparently ignored"
Hello!

I'm trying to use the plugin on our app, and everything seems to be working, except for our exclusion of dynamic imported locale files.

For that, we were using `ContextReplacementPlugin` to only include specific local files from intl-related dependencies. But that plugin does not seem to be compatible with `BabelMultiTargetPlugin`, as all locale files are now outputted as chunks.

If that

[2020-07-25 14:22] jlowcs commented on #78
Here is a branch where you can reproduce the issues: https://github.com/jlowcs/webpack-babel-multi-target-plugin/tree/bug-ContextReplacementPlugin

When using `BabelMultiTargetPlugin`, 2 plugin chunks (well, 4 if you count the modern files) are generated by the `es6-dynamic-import` example.

When using `babel-loader`, 1 plugin chunk is generated.

[2020-07-25 17:06] DanielSchaffer commented on #58
This might be a packaging issue on my part - there's no reason a client project should have to worry about types for `babel-loader`. Those are only really used for development anyhow.

[2020-07-25 17:22] DanielSchaffer commented on #78
@jlowcs thanks for the report, I'll take a look.

[2020-07-25 17:27] DanielSchaffer commented on #77
@qpre Hello, and thanks for the report! If you remove the plugin from the configuration, does it work as expected? I ask because two of those errors you mention appear to be trying to import from NodeJS modules, which shouldn't really be happening for a web bundle.

It's also possible that due to the `mainFields` configuration, Webpack might be looking at the wrong entry point for `subscriptions-t

[2020-07-25 17:43] DanielSchaffer commented on #64
Apologies for the long delay on this folks. I'm sure you all understand it's been a long crazy couple of months. Anyhow, here's [2.5.0](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/releases/tag/v2.5.0) 🍻

I've started a 2.6.0 milestone for the deprecation tasks / 3.x prep mentioned above.

[2020-07-25 17:43] #64 closed

[2020-07-25 20:45] DanielSchaffer commented on #35
I'm going to close this - From what I've seen, it's not very straightforward to prevent Angular from doing its own differential loading. I don't think there's a huge difference in value between Angular's implementation and this one, and any ongoing Angular support from this plugin would likely be difficult and time consuming to accomplish, with the end result being brittle at best, especially in l

[2020-07-25 20:45] #35 closed

[2020-07-26 11:49] Austaras commented on #58
After upgrade to fork-ts-checker@5, this issue is resolved

[2020-07-26 11:49] #58 closed

[2020-07-30 16:39] wmarques opened #85 "Angular: The AngularCompilerPlugin was not found"
Hi, I'm trying to setup this plugin on my app.
It's an hybrid Angular 10 / AngularJS with a custom Webpack config.

I followed all the instructions but when I try to start the app using webpack-dev-server I have the following trace:

[code]

Here is a snippet of my configuration:
[code]

Thanks for your help 😄

[2020-07-30 17:13] DanielSchaffer commented on #85
Hi William,

First off, you should know that I'm planning on removing support for Angular since the Angular CLI includes its own differential loading mechanism. Angular support will be deprecated in the next major version (3.0.0), and removed in the following major version (4.0.0).

Second, I've had very mixed experiences with trying to use the Angular compiler outside of the CLI (e.,g. using `@ng

[2020-07-31 07:44] wmarques commented on #85
Hi Daniel,
First thanks for your very quick answer :)
I agree that using a custom Webpack config is becoming quite difficult... But for now we don't have the time to fully switch to the Angular CLI, our project structure would need to be completely changed so that's not an easy task.
By the way if we switch to the CLI I would probably go with Nx as we have 2 Angular apps in a monorepo.

Yes I'm al

[2020-07-31 15:57] DanielSchaffer commented on #85
@wmarques IE11! Oof, I'm sorry on your behalf.

To clarify, does your configuration work with Angular 10 when you leave out `BabelMultiTargetPlugin`?

[2020-07-31 16:45] wmarques commented on #85
Yes, client requirements, I will hopefully get rid of it once windows 7 becomes deprecated !

Yes it compiles and works fine in any recent browser, however my app doesn't show up on IE11 because I still have ES6 code in my final bundle and it looks like it comes from Angular. that's why I'm interested in your plugin :)

[2020-07-31 17:02] DanielSchaffer commented on #85
Can you include the full configuration file? If there are proprietary things you need to omit, that's fine, just annotate in the text where things are removed.

[2020-07-31 17:04] DanielSchaffer commented on #85
Also, can you post the output of running `npm ls @ngtools/webpack`?

[2020-08-20 12:56] qpre commented on #77
Hello @DanielSchaffer sorry for the late reply I was on vacation.

If the plugin is removed, everything builds smoothly

[2020-09-16 12:47] xn330125 commented on #40
@bitfella hi, I have the same problem, the css in dynamic import not output, did you solve it?

[2020-09-16 13:08] bitfella commented on #40
Hi @xn330125, yes I "solved" it since I changed job, so I am not using that stuff anymore :)
Hope you can deal with it!

[2020-10-11 07:56] Austaras commented on #50
So as webpack@5 has been released today, is there any plan for supporting it?

[2020-10-11 13:28] DanielSchaffer commented on #50
@Austaras There is a "yes, I'd (ideally) like to do that" _intention_, but no specific or documented plan as of yet. I'm currently finishing up a milestone on another (personal) project right now, and I can put some energy towards supporting v5 once that's wrapped up. I'm also open to community submissions, of course :)

[2020-11-26 04:06] ai opened #88 "Use Browserslist config"
It will be nice to respect the user’s Browserslist config.

We can do it with code like:

[code]

[2020-11-26 04:45] ai opened #89 "TypeError: "exports" is read-only"
After I added your awesome plugin to my project I have the error in browser, when I try to open my webapp:

[code]

Versions:

* webpack: 4.44.2
* webpack-babel-multi-target-plugin: 2.5.0

Webpack config:

[code]

[2020-11-30 19:54] DanielSchaffer commented on #88
Hey, this is pretty clever. I like it!

[2020-11-30 20:07] DanielSchaffer commented on #89
@ai IIRC, that error happens either when there are `node_modules` packages that either aren't transpiled when they should be, or when babel tries to transpile something that's already in UMD format.

This plugin relies on the assumption that `node_modules` is getting included in transpiling, and that you're providing it with the most "modern" source possible, which is why the custom configuration

[2020-11-30 20:12] DanielSchaffer commented on #89
If that still doesn't work, we'll need to do a little investigation:
- create a build that uses the plugin, but does not minify / obfuscate
- locate line from stack trace and determine which library it is coming from
- this library may need to be added to the [`exclude` key of the plugin's configuration](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/blob/develop/README.md#opt

[2020-12-10 10:33] ai commented on #88
I made PR to do this trick https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/pull/87

With recent Browserslist 4.16, we can do it even more elegant by `browserslist config` query.

[2021-01-07 02:31] Austaras commented on #56
This is not fixed, it will cause vendor.js loaded in both preset. @DanielSchaffer can you reopen this?

[2021-01-07 09:12] Austaras opened #90 "mini-css-extract-plugin crashes with tagAssetsWithKey"
When I configured this plugin with
[code]
`mini-css-extract-plugin` will crash

[2021-01-10 18:39] eolme opened #91 "htmlWebpackPluginAlterAssetTags is undefined"
I can't figure out what's wrong, but I have an error:

[code]

here:
[code]

Trace:
<details>

[code]

</details>

[2021-01-10 19:09] eolme commented on #91
deps:
[code]

config:
[code]

[2021-01-11 07:28] Austaras commented on #91
Well, this is due to html-webpack-plugin v4 changed the way of calling hooks. It's likely to be fixed in #86

[2021-01-11 08:51] eolme commented on #91
What version is currently compatible?

[2021-01-11 08:52] Austaras commented on #91
html-webpack-plugin v3

[2021-01-11 09:09] eolme commented on #91
Thanks

[2021-01-12 17:24] DanielSchaffer commented on #91
@Austaras `html-webpack-plugin@^4.0.0` should be supported as of [2.5.0](https://github.com/DanielSchaffer/webpack-babel-multi-target-plugin/issues/64) via #55

@eolme if this is breaking on `webpack-babel-multi-target-plugin@2.5.0` and `html-webpack-plugin@^4.0.0`, then it's a bug and this should be open.

[2021-01-12 17:27] Austaras commented on #91
@DanielSchaffer yes this should be open. The bug is simple: safari fix plugin isn't updated in #55

[2021-01-12 17:27] DanielSchaffer commented on #90
@Austaras can you add some more details? (stack trace, package versions, etc)

[2021-01-12 17:28] DanielSchaffer commented on #89
@ai are you still having this issue? I'm going to close this if there's no update.

[2021-01-12 17:31] DanielSchaffer commented on #56
In this scenario, does the vendor.js have mixed ES levels? It _might_ be possible that if the stuff that gets put into the vendor chunk is already ES5 / "legacy" compatible, it could just use that for both bundles.

[2021-01-12 17:35] ai commented on #89
Yeap. Let’s close it.

[2021-01-12 17:39] Austaras commented on #56
No. I tested it with `typescript-plain` which should generate a vendor.js with only `core-js` and `regenerator-runtime`, it should never be loaded in modern target

[2021-01-12 17:39] Austaras commented on #90
I'm using master branch of this repo and got
[code]
You could test with [this branch](https://github.com/Austaras/webpack-babel-multi-target-plugin/tree/debug)

[2021-01-12 17:54] #89 closed

[2021-01-15 18:51] Austaras opened #92 "Vue scoped css only work in nomodule"
Steps to reproduce:
Add following code to `vue-cssextract` example
[code]
and add `foobar` class to some html element
reason of bug:
the above css is compiled to `.foobar[data-v-xxxxxx]`, however for different target vue generate different hashed id, so only in legacy mode would scoped css work

[2021-01-16 14:42] Austaras opened #93 "moment.js locale not loaded"
Steps to reproduce:
Add following code to `typescript-moment` example
[code]
expected:
console should print `["en", "fr"]`
current:
only `["en"]` is printed. Thus formating to certain locale doesn't work

[2021-08-17 10:17] Artur- opened #94 "'babel-loader' cannot be found when using npm 7.20.3+"
With a simple package.json: https://github.com/Artur-/webpack-babel-test/blob/main/package.json

`npm install` with npm 7.20.2 and earlier will install `babel-loader` as a top level module in `node_modules`
`npm install` with npm 7.30.2 and newer will install `babel-loader` as a webpack-babel-multi-target-plugin dependency in `node_modules/webpack-babel-multi-target-plugin/node_modules`

Because o

[2022-05-18 05:18] Leeingnyo commented on #91
Are there any updates on this?